{% extends 'front/front_sign_base.html' %}

{% block title %}
    登录Python技术论坛
{% endblock %}

{% block head %}
    <style>
        .captcha-addon{
            padding: 0;
        }
    </style>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block sign_group %}
    <div class="form-group">
        <p style="text-align: center" class="text-danger">{{ error }}</p>
        <input type="text" class="form-control" value="{{ telephone }}" name="telephone" placeholder="手机号码">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" value="{{ password }}" placeholder="密码">
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="graph_captcha" placeholder="图形验证码">
            <span class="input-group-addon captcha-addon"><img class="graph_captcha" src="{{ url_for('account.create_graph_captcha') }}" alt=""></span>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox remember-me">
            <label>
                <input type="checkbox" value="1" name="remember">记住我
            </label>
        </div>
        <div class="forgetpwd">
            <a href="{{ url_for('account.forget_password') }}">忘记密码？</a>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-warning btn-block">立即登录</button>
    </div>
    <div class="form-group">
        <a style="width: 100%" href="{{ url_for('account.regist') }}" class="btn-info btn">点击注册</a>
    </div>
{% endblock %}